.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 540px;


  }
}
@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 720px;


  }
}
@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px;


  }
}
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;

  }
}
@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1320px;


  }
}
.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-sm,
.navbar > .container-md,
.navbar > .container-lg,
.navbar > .container-xl,
.navbar > .container-xxl {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}

.p{
    text-shadow: saddlebrown;
    
}

.nav-link{
color: black  !important;

}

.page-section {
    padding: 150px;
  }

  .navbar-nav > .active > a {
    color: black  !important;
 
  }
  .nav-item > a:hover {
    color: black  !important;
  }
  .nav-bar .nav-link.active {
    background-color: black !important;
    
  }

  .navlink.active{
    color: black  !important;
  }

  .navbar-nav .active{
    color: black  !important; 

  }

  .active{
    color:black !important;
}

nav .navbar-nav li a{
    color: black !important;
    }

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.nav-link:active {
    color: black;
   }

   .navbar-light .navbar-nav .nav-link.active {
    color: black;
  }